**/bin/
**/obj/
**/.vs/
**/.idea/
**/.vscode/
**/TestResults/
**/StrykerOutput/
**/coverage/
**/.git/
**/.gitignore
**/.gitattributes
**/.dockerignore
**/Dockerfile*
**/docker-compose*.yml
**/*.user
**/*.md
!README.md
**/.env
**/.env.*
artifacts/
